/*
 *
 */

label {
  left: 0;
  position: absolute;
  right: 0;
  visibility: hidden;
  z-index: -1;
}
input {
  background-color: var(--gray80);
  border: none;
  border-radius: 2px;
  color: var(--white);
  height: 32px;
  padding-left: 4px;
  width: 100%;
}
input::placeholder {
  color: var(--gray60);
}

.button {
  cursor: pointer;
  user-select: none;
}
/*  SEARCH  */
div.search-input {
  height: 48px;
  margin-right: 8px;
  max-width: 445px;
  width: 100%;
}
div.search-input input {
  padding-right: 32px;
}
/*  SORT  */
div.sort-button {
  border-radius: 2px;
  height: 32px;
  width: auto;
}
div.sort-button > div {
  padding: 8px;
}
div.sort-button p {
  font-size: 13px;
  margin-right: 16px;
  text-transform: capitalize;
}
div.sort-button span.icon {
  display: none;
  transition: transform 0.33s ease;
  visibility: hidden;
  width: 16px;
}
div.sort-button.active {
  font-weight: bold;
}
div.sort-button.active p {
  margin-right: 0px;
}
div.sort-button.active span.icon {
  display: block;
  visibility: visible;
}
div.sort-button span.icon.active {
  transform: rotate(180deg);
}

/*  CONTEXT  */
div.context-button {
  border-radius: 2px;
  height: 32px;
  width: 32px;
}
div.context-button > div {
  padding: 8px;
}

/*  ACTION  */
div.action-button {
  border-radius: 24px;
  height: 48px;
  bottom: 8px;
  position: fixed;
  width: 48px;
  z-index: 99;
}
div.action-button.bottom-left {
  left: 8px;
}
div.action-button.bottom-right {
  right: 8px;
}

/*  BUTTON  */
aside .button {
  height: 32px;
  min-width: 50px;
}
aside .button p {
  font-size: 13px;
}

button {
  border: none;
  border-radius: 2px;
  font-family: "Montserrat";
  font-size: 13px;
}

/*  Clear Button  */
div.search-input div.button {
  position: absolute;
  right: 0px;
  width: 32px;
}
div.search-input div.button > div {
  padding: 8px;
}

@media only screen and (min-width: 668px) {
  div.sort-button {
    color: var(--white);
  }
}