/*
 *
 */

/*  PALLETE  */
html:root {
  --primary: #4c3ae9;
  --secondary: #2a1b77;
  --white: #f8f8f8;
  --black: #201818;
  --gray80: #3c3535;
  --gray60: #645d5e;
  --gray20: #dbdada;
  --gray10: #f6f6f6;
}


/*  RESET  */
html, body, div, header, main, footer, ul, li,
form, input, textarea, button, label,
h1, h2, h3, h4, h5, h6, p, a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}


/*  GLOBAL  */
html, body {
  color: var(--black);
  font-family: "Montserrat", "Arial", sans-serif;
  height: 100%;
}
.bg-black {
  background-color: var(--black);
  color: var(--white);
}
.bg-white {
  background-color: var(--white);
}
.bg-primary {
  background-color: var(--primary);
  color: var(--white);
}
.bg-gradient {
  background: linear-gradient(45deg, var(--secondary) 0%, var(--primary) 100%); 
}
div.container {
  padding: 0px 8px;
}
div.wrapper {
  height: 100%;
  width: auto;
}


/*  LAYOUT  */
.row > div {
  display: flex;
  flex-direction: row;
}
.column > div {
  display: flex;
  flex-direction: column;
}
.justify-between > div {
  justify-content: space-between;
}
.center-content > div {
  align-items: center;
  justify-content: center;
}


/*  MISC  */
.dingbat {
  font-family: "Bookmark Dingbats";
}
.md-icon {
  font-size: 27px;
}
.lg-icon {
  font-size: 31px;
}

img {
  height: 100%;
  width: auto;
}